<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.example">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <application xmlns:tools="http://schemas.android.com/tools"
        android:label="flutter_login [P]"
        tools:replace="android:label">
    </application>
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
