name: Widget tests & code analysis

on: [push, pull_request]

# https://admcpr.com/continuous-integration-for-flutter-with-github-actions/
jobs:
  test:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-java@v3
      with:
        distribution: 'temurin' 
        java-version: '11'
    # Use the community Action to install Flutter
    - uses: subosito/flutter-action@v2
    - name: Version
      run: flutter doctor -v
    - name: Install dependencies
      run: flutter pub get
    - name: Format
      run: flutter format -n --set-exit-if-changed .
    - name: Linter
      run: flutter analyze
    - name: Test
      run: flutter test
